// COLOR VARIABLES
// Purple
$purple: #9356dc;

// Pink
$pink: #ff79da;

// Mint
$mint: #ff79da;

// RESETS
// All
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 400px;
}

h2 {
  color: $purple;
}
