///////////////////////////////////////////////////////
// COLOR VARIABLES
// Purple
$purple: #9356dc;

// Light-purple
$light-purple: #f1a0fc;

// Pink
$pink: #ff79da;

// Mint
$mint: #99e2d0;

// Dark-mint
$dark-mint: #1ea784;

// Grey
$grey: #f3f3f3;

// Dark-grey
$dark-grey: #d3d3d3;

// MIXINS
// Gradient
@mixin gradiant {
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(224, 28, 216, 1) 85%,
    rgba(255, 121, 218, 1) 100%
  );
}

///////////////////////////////////////////////////////
// RESETS
// All
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", serif;
}

///////////////////////////////////////////////////////
// INDEX.HTML__MOBILE

// MOBILE
// Header
.header {
  width: 100%;
  text-align: center;
  &__img-container > img {
    width: 12rem;
    margin: 1rem 0;
  }
}

// Main
// Main__map
.main__map-container {
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

// Main__text
.main__text-container {
  background-color: $grey;
  text-align: center;
  padding: 1rem 0;
}
