// Nav BTN
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .btn {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: $grey;
      width: 60%;
      margin: 0 auto;
      padding: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 2rem;
      height: 2rem;
      li {
        padding-left: 0;
        margin-right: 2rem;
        // color: blue;
        position: relative;
        .number {
          position: absolute;
          top: -0.65rem;
          min-width: 1rem;
          border: solid 1px $purple;
          border-radius: 100%;
          background-color: $purple;
          color: white;
        }
      }
    }
  }
}
